body {
  float: left;
  margin-top: 28px;
  margin-left: 270px;
}

.nav-container {
  top: 28px;
  display: flex;
  flex-direction: row;
  width: 1320px;
  margin: 0 auto;
  padding: 0;
  background-color:white;
  list-style-type: none;
  border-bottom: 1px solid #c5835f;
  height: 60px;
}

.nav-logo {
  margin-right: 800px;
}

.nav-item {
  text-align: right;
  padding-left: 40px;
  padding-top: 12px;
}

.nav-item a {
  text-align:right;
  text-decoration: none;
  font: normal normal bold 20px/29px Noto Sans KR;
  color: #79452a;
}

.title1 {
  text-align: center;
  font: normal normal bold 42px/62px Noto Sans KR;
  color: #865B36;
  letter-spacing: 0px;
}

.text1 {
  text-align: center;
  font: normal 18px/29px Noto Sans KR;
  letter-spacing: 0px;
  color: #000000;
}

.img1 {
  top: 460px;
  left: 420px;
  position: absolute;
}

.box1 {
  position: absolute;
  top: 1075px;
  left: 0px;
  z-index: 0;
}

.title2 {
  text-align: center;
  font: normal normal bold 42px/62px Noto Sans KR;
  color: #865B36;
  letter-spacing: 0px;
  z-index: 1;
  position: absolute;
  top: 1180px;
  left: 730px;
}

.food1 {
  position: absolute;
  z-index: 1;
  top: 1350px;
  left: 320px;
}

.stitle1 {
  position: absolute;
  z-index: 1;
  text-align: left;
  font: normal bold 24px/36px Noto Sans KR;
  letter-spacing: 0px;
  color: #865B36;
  top: 1480px;
  left: 870px;
}

.text2 {
  position: absolute;
  z-index: 1;
  text-align: left;
  font: normal 300 18px/29px Noto Sans KR;
  letter-spacing: 0px;
  color: #000000;
  top: 1537px;
  left: 870px;
}

.stitle2 {
  position: absolute;
  z-index: 1;
  text-align: left;
  font: normal bold 24px/36px Noto Sans KR;
  letter-spacing: 0px;
  color: #865B36;
  top: 1915px;
  left: 430px;
}

.text3 {
  position: absolute;
  z-index: 1;
  text-align: left;
  font: normal 300 18px/29px Noto Sans KR;
  letter-spacing: 0px;
  color: #000000;
  top: 1971px;
  left: 430px;
}

.food2 {
  position: absolute;
  z-index: 1;
  top: 1750px;
  left: 1200px;
}

.food3 {
  position: absolute;
  z-index: 1;
  top: 2220px;
  left: 320px;
}

.stitle3 {
  position: absolute;
  z-index: 1;
  text-align: left;
  font: normal bold 24px/36px Noto Sans KR;
  letter-spacing: 0px;
  color: #865B36;
  top: 2325px;
  left: 870px;
}

.text4 {
  position: absolute;
  z-index: 1;
  text-align: left;
  font: normal 300 18px/29px Noto Sans KR;
  letter-spacing: 0px;
  color: #000000;
  top: 2381px;
  left: 870px;
}

.under-logo {
  position: absolute;
  top: 2810px;
  left: 320px;
  z-index: 3;
}

.under-text2 {
  text-align: left;
  position: absolute;
  top: 2892px;
  left: 320px;
  z-index: 2;
  color: #ffffff;
}

.under-list {
  position: absolute;
  top: 2800px;
  left: 1280px;
  z-index: 2;
}

.bar {
  list-style: none;
  float: left;
  font-size: 20px;
  font-family: Noto Sans KR;
  color: #ffffff;
  padding-right: 36px;
}

.search {
  position: absolute;
  z-index: 2;
  top: 2904px;
  left: 1310px;
}

.box3 {
  position: absolute;
  left: 0;
  top: 2768px;
  width: 1920px;
  height: 280px;
  background-color: #BF956A ;
  z-index: 0;
}

footer {
  z-index: 2;
  position: relative;
  margin-left: 50px;
}
